{% set status_notresolved="1,2,3,4,6,7" %}
{% set status_resolved="5,8" %}
{% if request.user.hasPermission('View', 'issue') %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-exclamation-sign'></i>{{ i18n.gettext('Terminy') }}
    </li>
    <li>
      <a href="{{ request.indexargs_url('nameddate', {
        '@sort': 'date',
        '@group': 'date',
        '@filter': 'date',
        '@columns': columns_showall,
        'date': 'from -1d',
        '@search_text': '',
        '@dispname': i18n.gettext('Nadchodzące daty'),
       }) }}">{{ i18n.gettext('Nadchodzące') }}</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('nameddate', {
        '@sort': '-date',
        '@group': 'date',
        '@filter': 'date',
        '@columns': columns_showall,
        'date': 'to -1d',
        '@search_text': '',
        '@dispname': i18n.gettext('Ostatnie daty'),
       }) }}">{{ i18n.gettext('Minione') }}</a>
    </li>
  </ul>
  <hr>
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-exclamation-sign'></i>{{ i18n.gettext('Remonty') }}
    </li>
    {% if request.user.hasPermission('Create', 'issue') %}
      <li>
        <a href="issue?@template=item">{{ i18n.gettext('Dodaj remont') }}</a>
      </li>
    {% endif %}

    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status',
        '@columns': columns_showall,
        '@search_text': '',
	'status': status_notresolved,
        '@dispname': i18n.gettext('Aktualne remonty'),
       }) }}">{{ i18n.gettext('Aktualne') }}</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status',
        '@columns': columns_showall,
        '@search_text': '',
	'status': status_resolved,
        '@dispname': i18n.gettext('Zamknięte remonty'),
       }) }}">{{ i18n.gettext('Zamknięte') }}</a>
    </li>
    <li>
      <a href="issue?@template=search">{{ i18n.gettext('Szukaj') }}</a>
    </li>
    <li>
      <form method="POST" class='form-inline' action="{{ request.base }}">
        <input type="hidden" name="@type" value="issue">
        <input type="hidden" name="@action" value="show">
        <input class="input-mini" type="text" name="@number">
        <input type="submit" class="btn" value="{{ i18n.gettext('Pokaż remont') }}">
      </form>
    </li>
  </ul>
  <hr>
{% else %}
  <p class='text-error'>{{ i18n.gettext("Nie masz uprawnień do przeglądania remontów.") }}</p>
{% endif %}

{% if request.user.hasPermission('View', 'query') %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-eye-open'></i>{{ i18n.gettext('Twoje zapytania') }}
    </li>
    <li>
     <a href="query?@template=edit">{{ i18n.gettext('Edycja') }}</a>
    </li>
  </ul>
  <hr>
{% endif %}

{% if request.user.username == 'anonymous' %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-user'></i>{{ i18n.gettext('Login') }}
    </li>
    <li>
      Dostęp anonimowy.
    </li>
    <li>
    <a href="{{ request.indexargs_url('', {'@action':'oauthlogin'}) }}">{{ i18n.gettext('Zaloguj się przez OSM') }}</a>
    </li>
  </ul>
  <hr>
{% else %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-user'></i>{{ i18n.gettext('Zalogowany: ') }}
      <span class='username'>{{ request.user.username.plain(escape=1) }}</span>
    </li>
    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@filter': 'creator',
        '@columns': 'id,activity,title,status',
        '@search_text': '',
        'creator': request.user.id,
        '@dispname': i18n.gettext('Twoje remonty'),
      }) }}">{{ i18n.gettext('Twoje remonty') }}</a>
    </li>
    <li>
      <a href="http://www.openstreetmap.org/user/{{ request.user.osmusername }}">{{ i18n.gettext('Twój profil') }}</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('', {'@action':'logout'}) }}">{{ i18n.gettext('Wyloguj') }}</a>
    </li>
  </ul>
  <hr>
{% endif %}

<ul class='nav nav-list'>
  <li class='nav-header'>
    <i class='icon-bookmark'></i>{{ i18n.gettext('Pomoc') }}
  </li>
  <li>
    <a href="http://forum.openstreetmap.org/viewforum.php?id=23">Forum</a>
  </li>
</ul>

{% if request.user.hasPermission('View', 'user') %}
  <hr>
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-eye-open'></i>{{ i18n.gettext('Administracja') }}
    </li>

    {% if request.user.hasPermission('Edit', None) %}
      <li>
        <a href="home?@template=classlist">{{ i18n.gettext('Lista klas') }}</a>
      </li>
    {% endif %}

    {% if request.user.hasPermission('View', 'user') or request.user.hasPermission('Edit', 'user') %}
      <li>
        <a href="user">{{ i18n.gettext('Lista użytkowników') }}</a>
      </li>
    {% endif %}

    {% if request.user.hasPermission('Create', 'user') %}
      <li>
        <a href="user?@template=item">{{ i18n.gettext('Nowy użytkownik') }}</a>
      </li>
    {% endif %}
  </ul>
{% endif %}

<!-- SHA: 9f4ddd6106e9d02f1d4be1d153b30bbe8ad8645b -->
