<div class='pagination pagination-centered'>
  {% set batch = request.batch() %}
  <ul>
    {% if batch and batch.previous %}
      <li>
        <a href="#">{{ i18n.gettext('Poprzednie') }}</a>
      </li>
    {% else %}
      <li class='disabled'>
        <a href="#">{{ i18n.gettext('Poprzednie') }}</a>
      </li>
    {% endif %}
    <li>
      <span>
        {{ batch.start }}...{{ batch.start + batch.length -1 }}
        {{ i18n.gettext('z') }}
        {{ batch.sequence_length }}
      </span>
    </li>
    {% if batch and batch.next() %}
      <li>
        <a href="{{ request.indexargs_url(request.classname,
                {'@startwith':batch.next().first, '@pagesize':batch.next().size}) }}"
        >{{ i18n.gettext('Następne') }}</a>
      </li>
    {% else %}
      <li class='disabled'>
        <a href='#'>{{ i18n.gettext('Następne') }}</a>
      </li>
    {% endif %}
  </ul>
</div>
<!-- SHA: 270b3f6ed99100eb5bdcfc082c4fed2aadbeb29a -->
