{% extends 'layout/page.html' %}

{% block head_title %}
  {{ request.dispname or 'Remonty' }}
{% endblock %}

{% block page_header %}
  {{ request.dispname or 'Aktualne remonty' }}
{% endblock %}

{% block content %}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok %}
    {% if context.list() %}
      <table class='table'>
        <tr class='info'>
          <td>{{ i18n.gettext('ID') }}</td>
          <td>{{ i18n.gettext('Modyfikowano') }}</td>
          <td>{{ i18n.gettext('Użytkownik') }}</td>
          <td>{{ i18n.gettext('Nazwa') }}</td>
          <td>{{ i18n.gettext('Stan') }}</td>
          <td>{{ i18n.gettext('Autor') }}</td>
        </tr>
        {% for issue in context.list() %}
          <tr>
           <td>{{ issue.id }}</td>
           <td>{{ issue.activity }}</td>
           <td>{{ issue.actor }}</td>
           <td>
            <a href='issue{{ issue.id }}'>{{ issue.title.plain(hyperlink=0) }}</a>
           </td>
           <td>{{ issue.status.plain() }}</td>
           <td>{{ issue.creator.plain() }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p class='text-error'>{{ i18n.gettext('Aktualnie brak remontów w bazie') }}</p>
    {% endif %}
  {% endif %}

  {% include 'layout/pagination.html' %}

  <div class='row-fluid'> 
    <div class='pull-right'>
      <a class='btn btn-success'
          href="{{ request.indexargs_url('issue', {'@action':'export_csv'}) }}">
        {{ i18n.gettext('Pobierz CSV') }}
      </a>
    </div>
  </div>

  {% include 'layout/sort.html' %}

{% endblock %}
<!-- SHA: 64dee2942ac2bad596917eea21c992200dc797b9 -->
