<form method="POST"
      {% if context.id %}
        action='issue{{ context.id }}'
      {% else %}
        action='issue'
      {% endif %}
      name="itemSynopsis"
      enctype="multipart/form-data"
  >
  <fieldset>
    <div class="editable-field" name="Lokalizacja" notitle="1">
      <div id='map'></div>
      {% if context.is_edit_ok() %}
      <small><input type="text" id="loc" value="" form="" form_id=""
	class="input-block-level"
        {% if not context.id %}
	placeholder="Zaznacz lokalizację na mapie lub wklej tutaj współrzędne lub permalink"
        {% else %}
	placeholder="Aby zmienić lokalizację przesuń marker lub wklej tutaj współrzędne lub permalink"
        {% endif %}
	/></small>
      {% endif %}
      {% if context.id %}
      <div style="text-align: right">{{ utils.location_link(context) }}</div>
      {% endif %}
      <input type="hidden" name="lat" id="lat" value="{{ context.lat }}" required>
      <input type="hidden" name="lon" id="lon" value="{{ context.lon }}" required>
      <input type="hidden" name="z" id="z" value="{{ context.z }}" required>
    </div>

    <!-- Status -->
    <div class="editable-field" name="Stan">
      {{ context.status.menu() }}
    </div>
    <div class="noneditable-field" style="display: none" name="Stan">
      {{ context.status.plain() }}
    </div>

    <!-- Title -->
    <div class="editable-field" name="Nazwa">
      <input name='title' id='title' type='text' class='input-xxlarge' value='{{ context.title }}'
	placeholder="Nazwa jest opcjonalna">
    </div>
    <div class="noneditable-field" style="display: none" name="Nazwa">
      {{ utils.prettify(context.title.plain(hyperlink=1)) }}
    </div>

    <!-- dates -->
    <div class="editable-field" name="Daty">
      <div class='controls' id='dates-editor'></div>
      <div class='btn' id='dates-add-btn' form='' form_id=''>
	<i class="icon-plus-sign"></i></div>
      <input type='hidden' id='dates-add' name='@link@dates' value='' />
      <input type='hidden' id='dates-remove' name='@remove@dates' value='' />
    </div>

    <!-- link -->
    <div class="editable-field" name="Link">
      <div class='input-append'>
	<input name='url' id='url' type='text' class='input-xxlarge' value='{{ context.url }}'
	  placeholder="Opcjonalny: link do informacji na stronie urzędu, wykonawcy itp.">
	<span class="add-on"><i class="icon-bookmark"></i></span>
      </div>
    </div>
    <div class="noneditable-field" style="display: none" name="Link">
      {% if context.url.plain().strip() %}
        <a href="context.url">{{ context.url.plain() }}</a>
      {% else %}
        <span class="empty-field" />
      {% endif %}
      <i class="icon-bookmark"></i>
    </div>

    <!-- Note -->
    <div class="editable-field" name="Opis">
      <textarea name='note' rows="5" class='input-xxlarge' id='note'
	placeholder="Opcjonalny: jakich dróg dotyczy remont i inne informacje.">{{ context.note }}</textarea>
    </div>
    <div class="noneditable-field" style="display: none" name="Opis">
      {{ utils.prettify(context.note.plain(hyperlink=1)).replace('\n', '<br />') }}
    </div>

    <!-- Nosy list -->
    <div class="editable-field input-append" name="Do powiadomienia" optional="opcjonalnie">
      <input name='nosy' id='nosy' type='text'>
      <span class="add-on"><i class="icon-user"></i></span>
    </div>
    <div class="noneditable-field" style="display: none" name="Do powiadomienia">
      {% if context.nosy.plain().strip() %}
        {{ context.nosy.plain() }}
      {% else %}
        <span class="empty-field" />
      {% endif %}
      <i class="icon-user"></i>
    </div>

    <!-- File upload -->
    <div class="editable-field" name="Załącznik" optional="opcjonalny">
      <input type="file" name="@file" id='file_upload'>
    </div>

    {% if context.id and context.is_edit_ok() %}
    <div class='row-fluid'>
      <div class='control-group'>
        <label class='control-label' for='change_note'>{{ i18n.gettext('Komentarz') }}</label>
        <div class='controls'>
          <textarea name="@note" rows="3" class='input-xxlarge' id='change_note' placeholder="komentarz, opcjonalny"></textarea>
        </div>
      </div>
    </div> <!-- row-fluid -->
    {% endif %}

  </fieldset>
  <div class='form-actions'>
    <!-- TODO: only display when something changed -->
    {{ context.submit() }}
    {% if context.id %}
      <a href='{{ context.copy_url() }}'>{{ i18n.gettext('Kopia') }}</a>
    {% endif %}
  </div>
  <input type="hidden" name="@template" value="item">
  <input type="hidden" name="@required" value="status,lat,lon,z">
  <script type="application/javascript">
    function field_setup(create, editable) {
      var editable_arr = document.getElementsByClassName('editable-field');
      var noneditable_arr = document.getElementsByClassName('noneditable-field');

      var editables = {};
      var noneditables = {};
      for (var i = 0; i < editable_arr.length; i++)
	editables[editable_arr[i].getAttribute('name')] = editable_arr[i];
      for (var i = 0; i < noneditable_arr.length; i++)
	noneditables[noneditable_arr[i].getAttribute('name')] = noneditable_arr[i];

      var handle_edit = function(e) {
	var ne = $(this).context;
	ne.parentElement.removeChild(ne);
	ne.switchable_to.style.display = '';
      }

      if (!create) {
	var table = document.createElement('dl');
	table.setAttribute('class', 'dl-horizontal');
	editable_arr[0].parentNode.insertBefore(table, editable_arr[0]);
      }
      for (var name in editables) {
	var elem = editables[name];
	var parent = elem.parentNode;
	parent.removeChild(elem);

	if (name in noneditables) {
	  var ne = noneditables[name];
	  parent.removeChild(ne);
	  ne.removeAttribute('style');
	}

	if (create) {
	  var elem0 = document.createElement('div');
	  var elem1 = document.createElement('div');
	  var elem2 = document.createElement('div');
	  var elem3 = document.createElement('label');

	  elem0.setAttribute('class', 'row-fluid');
	  elem1.setAttribute('class', 'control-group');
	  elem2.setAttribute('class', 'controls');
	  elem3.setAttribute('class', 'control-label');
	  elem3.innerHTML = name;
	  if (elem.hasAttribute('optional'))
	    elem3.innerHTML += ' (' + elem.getAttribute('optional') + ')';

	  parent.appendChild(elem0);
	  elem0.appendChild(elem1);
	  elem1.appendChild(elem2);
	  if (!elem.hasAttribute('notitle'))
	    elem2.appendChild(elem3);
	  elem2.appendChild(elem);
	} else {
	  var elem0 = document.createElement('dt');
	  var elem1 = document.createElement('dd');
	  table.appendChild(elem0);
	  table.appendChild(elem1);
	  elem0.innerHTML = name;
	  elem1.appendChild(elem);
	  if (name in noneditables) {
	    elem.style.display = 'none';
	    elem1.appendChild(ne);
	    if (!ne.innerHTML.trim())
	      ne.innerHTML = '<span class="empty-field" />';
	  }
	  if (editable && (name in noneditables)) {
	    ne.setAttribute('class', 'noneditable-field switchable-field');
	    ne.innerHTML += '<i class="icon-pencil popup"></i>';
	    ne.switchable_to = elem;
	    $(ne).on('click', handle_edit);
	  }
	}
      }
    }

    function map_setup(create, editable) {
      var elem = document.getElementById('map');
      var elem_lat = document.getElementById('lat');
      var elem_lon = document.getElementById('lon');
      var elem_z = document.getElementById('z');
      var elem_loc = document.getElementById('loc');

      var ll = [ parseFloat(elem_lat.value), parseFloat(elem_lon.value) ];
      var z = parseInt(elem_z.value);
      var fresh = false;
      if (isNaN(ll[0]) || isNaN(ll[1]) || ll[0] < -80 || ll[0] > 80 ||
          ll[1] <= -180 || ll[1] >= 180 || isNaN(z) || z < 12 || z > 19)
        fresh = true;

      if (fresh)
        elem_z.value = ''; /* Prevent form submit until valid */

      ll = fresh ? new L.LatLng(52, 19.5) : new L.LatLng(ll[0], ll[1]);

      elem.style.width = '100%';
      elem.style.height = '350px';
      var map = new L.Map(elem).setView(ll, fresh ? 7 : z);
      var osm = new L.TileLayer(
          'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          { minZoom: 6, maxZoom: 19, attribution: 'OSM.org' });
      map.addLayer(osm);

      var marker = null;

      function set_marker(ll, z) {
        elem_lat.value = '' + ll.lat;
        elem_lon.value = '' + ll.lng;
        if (z !== undefined)
          elem_z.value = '' + z;

	if (marker === null) {
          marker = new L.Marker(ll, { draggable: editable }).addTo(map);

          marker.on('move', function(e) {
              elem_lat.value = '' + e.latlng.lat;
              elem_lon.value = '' + e.latlng.lng;
              elem_z.value = '' + map.getZoom();
            });

	  if (z === undefined)
            elem_z.value = '' + map.getZoom();
	} else
	  marker.setLatLng(ll);
      };

      if (fresh && editable) {
        var maponclick = function(e) {
          if (marker !== null)
            return;
          var ll = e.latlng;
          var z = map.getZoom();
          if (z < 12)
            return;
          set_marker(ll);
        };
        map.on('click', maponclick);
      } else if (!fresh)
        set_marker(ll);

      function parse_coords(str) {
	/* TODO: other formats: N50, E21, deg+min+sec, NMEA, etc */
	var patterns = {
	  'lat': [
	    /^(\d+\.\d+), *\d+\.\d+$/,
            /\blat=(\d+\.\d+)\b/,
            /\bmap=\d+\/(\d+\.\d+)\/\d+\.\d+\b/,
            /\bll=(\d+\.\d+),\d+\.\d+\b/
	  ],
	  'lon': [
	    /^\d+\.\d+, *(\d+\.\d+)$/,
            /\blon=(\d+\.\d+)\b/,
            /\blng=(\d+\.\d+)\b/,
            /\bmap=\d+\/\d+\.\d+\/(\d+\.\d+)\b/,
            /\bll=\d+\.\d+,(\d+\.\d+)\b/
	  ],
	  'z': [
            /\bz=(\d+\.\d+)\b/,
            /\bzoom=(\d+\.\d+)\b/,
            /\bmap=(\d+)\/\d+\.\d+\/\d+\.\d+\b/
	  ],
	};

	var results = {};
	for (var j = 0; j < 3; j++) {
	  var coord = [ 'lat', 'lon', 'z' ][j];
	  for (var i = 0; i < patterns[coord].length; i++) {
	    var m = patterns[coord][i].exec(str);
	    if (m === null)
	      continue;
	    results[coord] = m[1];
	    break;
	  }
	  if (!(coord in results))
	    break;
	}
	if (!('lat' in results && 'lon' in results))
	  return;

	var ll = new L.LatLng(parseFloat(results.lat), parseFloat(results.lon));
	var z = undefined;
	if ('z' in results)
	  z = parseInt(results.z);

	if (z)
	  map.setZoom(z);
	else if (map.getZoom() < 12)
	  map.setZoom(14);
	set_marker(ll, z);
	map.panTo(ll);
      }

      if (elem_loc != undefined)
	$(elem_loc).on('input', function(e) {
	    parse_coords($(this).context.value);
	  });
    }

    function dates_setup(create, editable) {
      var elem = document.getElementById('dates-editor');
      var elem_input_add = document.getElementById('dates-add');
      var elem_input_remove = document.getElementById('dates-remove');

      var dates = [];
      function value_update() {
        var ids = [];
	for (var i = 0; i < dates.length; i++)
	  if (dates[i].id < 0)
	    ids.push('nameddate' + dates[i].id);
	elem_input_add.value = ids.join(', ');
      }

      function move_row(row, move) {
	var idx = dates.indexOf(row.dates);
	dates.splice(idx, 1);
	dates.splice(idx + move, 0, row.dates);
	if (move == -1) {
	  var prev = row.previousSibling;
	  elem.removeChild(row);
	  elem.insertBefore(row, prev);
	} else {
	  var next = row.nextSibling;
	  elem.removeChild(next);
	  elem.insertBefore(next, row);
	}
	value_update();
      }

      function sort_update(row) {
	while (1) {
	  var idx = dates.indexOf(row.dates);
	  if (idx && dates[idx].date < dates[idx - 1].date)
	    move_row(row, -1);
	  else if (idx < dates.length - 1 &&
	      dates[idx].date > dates[idx + 1].date)
	    move_row(row, 1);
	  else
	    break;
	}
      }

      function add_date(d) {
	d = {
          'id': d[0],
	  'name': d[1],
	  'date': d[2],
	  'note': d[3],
	};
	dates.push(d);

	d.row = document.createElement('div');
	d.row.dates = d;
	d.elem_date = document.createElement('span');
	d.elem_name = document.createElement('input');
	d.elem_note = document.createElement('input');
	d.elem_del = document.createElement('button');
	if (d.note > 0)
	  d.elem_link = document.createElement('a');

	d.elem_date.innerHTML = '<input type="text" ' +
	  'name="nameddate' + d.id + '@date" ' +
          'class="input-medium" />' +
	  '<span class="add-on"><i class="icon-calendar"></i></span>';
	d.elem_date.setAttribute('class', 'input-append date');
	$(d.elem_date).datepicker({
	    format: "yyyy-mm-dd",
            calendarWeeks: true,
	    todayHighlight: true,
	    language: "pl",
	  });
	$(d.elem_date).datepicker('update', d.date);
	$(d.elem_date).datepicker().on('changeDate', function(e) {
	    $(this).context.state.dates.date = e.date;
	    sort_update($(this).context.state);
	  });
	d.elem_date.state = d.row;

	d.elem_name.setAttribute('class', 'input-xxlarge');
	d.elem_name.setAttribute('name', 'nameddate' + d.id + '@desc');
	d.elem_name.setAttribute('type', 'text');
	d.elem_name.value = d.name;
	$(d.elem_name).on('input', function(e) {
	    $(this).context.state.dates.name = $(this).context.value;
	  });
	d.elem_name.state = d.row;

	d.elem_del.setAttribute('class', 'btn');
	d.elem_del.setAttribute('form_id', '');
	d.elem_del.setAttribute('form', '');
	d.elem_del.innerHTML = '<i class="icon-remove-sign"></i>';
	$(d.elem_del).on('click', function(e) {
	    dates.splice(dates.indexOf($(this).context.state.dates), 1);
	    elem.removeChild($(this).context.state);
	    value_update();
	    if ($(this).context.state.dates.id >= 0) {
	      if (elem_input_remove.value.length)
	        elem_input_remove.value += ', ';
	      elem_input_remove.value += $(this).context.state.dates.id;
	    }
	  });
	d.elem_del.state = d.row;

	if (d.note > 0) {
	  d.elem_link.setAttribute('href',
	      'http://www.openstreetmap.org/note/' + d.note);
	  d.elem_link.innerHTML = 'notka #' + d.note;
	}

	d.elem_note.setAttribute('name', 'nameddate' + d.id + '@note');
	d.elem_note.setAttribute('type', 'hidden');
	d.elem_note.setAttribute('value', d.note);

	d.row.appendChild(d.elem_date);
	d.row.appendChild(document.createTextNode(' '));
	d.row.appendChild(d.elem_name);
	d.row.appendChild(document.createTextNode(' '));
	d.row.appendChild(d.elem_del);
	if (d.note > 0) {
	  d.row.appendChild(document.createTextNode(' '));
	  d.row.appendChild(d.elem_link);
	}
	d.row.appendChild(d.elem_note);

	d.row.setAttribute('class', 'controls form-horizontal');
	elem.appendChild(d.row);
      }

      var newid = -1;

      $('#dates-add-btn').on('click', function(e) {
          var new_date = new Date();
	  if (dates.length)
	    /* A day after the last date we currently know */
	    new_date = new Date(dates[dates.length - 1].date.getTime() +
		24 * 3600 * 1000)
	  add_date([ newid--, '...', new_date, 0 ]);
          value_update();
	});

      var initial = [
      {% for date in context.dates.sorted('date') %}
        [
          {{ date.id }},
	  /* TODO: escape */
          '{{ date.desc }}',
          new Date('{{ date.date.pretty(format="%Y-%m-%d") }}'),
          {{ date.note }},
        ],
      {% endfor %}
      ];

      var fresh = false;

      if (initial.length < 1)
	fresh = true;

      if (fresh) {
	var now = Date.now();
	var today = new Date(now);
	var in2wk = new Date(now + 14 * 24 * 3600 * 1000);
	initial = [
          [ newid--, 'Rozpoczęcie prac', today, 0 ],
          [ newid--, 'Otwarcie', in2wk, 0 ],
        ];
      }

      for (var i = 0; i < initial.length; i++)
	add_date(initial[i]);

      value_update();
    }

    document.body.onload = function() {
      {% if context.id %}
      var fresh = false;
      {% else %}
      var fresh = true;
      {% endif %}
      {% if context.is_edit_ok() %}
      var editable = true;
      {% else %}
      var editable = false;
      {% endif %}

      field_setup(fresh, editable);
      map_setup(fresh, editable);
      dates_setup(fresh, editable);
    }
  </script>
</form>
<!-- SHA: 3d31330a2f1a6bfb621ee18dd569588d20f1d09e -->
