body {
  color: #333;
}

h1,
h2 {
  font-weight: normal;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
}

.navbar {
  margin: 20px 0;
}

.navbar form {
  margin: 8px;
}

.navbar .btn {
  margin-top: 0;
}

.navbar .brand {
  color: #B31B1B;
}

footer {
  font-size: 1.2em;
}

.vspace-one { margin-top: 1em; }
.vspace-two { margin-top: 2em; }
.vspace-three { margin-top: 3em; }
.vspace-four { margin-top: 4em; }
.vspace-five { margin-top: 5em; }

.navigation {
  border-right: 1px solid #ddd;
}

.droga-w, .droga-k, .droga-e, .droga-a, .droga-s {
  border-radius: 4px;
  padding: 3px;
  font-weight: bold;
}
.droga-w {
  border: 1px solid black;
  background-color: yellow;
  color: black;
}
.droga-k, .droga-a, .droga-s {
  background-color: red;
  color: white;
}
.droga-e {
  background-color: green;
  color: white;
}

.noneditable-field, .editable-field {
  padding-bottom: 10px;
}

.switchable-field {
  position: relative;
}
.switchable-field .popup {
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.switchable-field:hover .popup {
  opacity: 1;
}

.empty-field {
  color: #bbb;
  font-size: 75%;
}
.empty-field:before {
  content: '(brak)';
}

.permalinks a {
  color: #999;
}
.permalinks {
  padding-left: 4px;
  color: #999;
  font-size: 60%;
  vertical-align: middle;
}

.sort-up:after {
  font-size: 60%;
  content: '▲';
}
.sort-down:after {
  font-size: 60%;
  content: '▼';
}

/* SHA: 719e315e0cc76e367541e496b2c66a47fa8be1c4 */
